*{
    padding:0px;
    margin:0px;
    
}
body {
    /* background code start */
    /* background-image: url('../image/img2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #B48278; */
    /* background code end */

    /* Text font */
    font-family: 'Courier New';
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
} 
 
 /* navigation bar start */
 .backstyle{
    background-color: #B48278;
    padding-bottom: 3px;
 }
ul {
    padding: 5px;
    background-color: #ffffff;
    }

li {
    display: inline;           
}
.active {
    color: #b67f75;
}
a:link {
    text-decoration: none;
    color:black;
}
a:visited {
    text-decoration: none;
    color:black;
}
 /* navigation bar end */



 @media only screen and (max-width: 600px){
    li {
        display: block;           
    }
 }