*{
    padding:0px;
    margin:0px;
    
}
body {
    /* background code start */
    /* background-image: url('../image/img2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #B48278; */
    /* background code end */

    /* Text font */
    font-family: 'Courier New';
    text-align: center;
    font-size: 20px;
} 
 
 /* navigation bar start */
 .backstyle{
    background-color: #C1B397;
    padding-bottom: 3px;
 }
ul {
    padding: 5px;
    background-color: #ffffff;
    }

li {
    display: inline;           
}
a{
    text-transform: uppercase;
}
.active {
    color: #C1B397;
    text-transform: uppercase;
}
a:link {
    text-decoration: none;
    color:black;
}
a:visited {
    text-decoration: none;
    color:black;
}
 /* navigation bar end */

 #sidenav a:hover{
    /* background-color: #A28E63 ; */
    background-color: #C1B397 ;
    color: white;    
}

p {
    font-size: 30px;
    font-style: italic;
}

span {
    font-size: 20px;
}
.article {
    text-align: justify;
    width: 100%;

}

 @media only screen and (max-width: 600px){
    li {
        display: block;           
    }
    #sidenav a:hover{
        background-color: unset;
        }
    #sidenav li:hover a{
        color: #C1B397; 
    }
    p{
        font-size: 25px;
    }
    span{
        font-size: 17px;
    }
 }