*{
    padding:0px;
    margin:0px;
    
}
body {
    background-color: #e9dfc4; 
    /* background-color: #E9D5A0; */
    /* Text font */
    font-family: 'Courier New';
    text-align: center;
    font-size: 20px;
} 
 
 /* navigation bar start */
 .backstyle{
     width: 100%;
     background-color: #7F8C8D  ;
     padding-bottom: 3px;
}
ul {
    padding: 5px;
    /* background-color: #E9D5A0; */
    background-color: #e9dfc4;
}

li {
    display: inline;           
}
a{
    text-transform: uppercase;
    
}
.active {
    color: #A3794A  ;
    text-transform: uppercase;
}
a:link {
    text-decoration: none;
    color:#3A372F;
}
a:visited {
    text-decoration: none;
    color:#3A372F;
}
 /* navigation bar end */

#sidenav a:hover{
    /* background-color: #A28E63 ; */
    background-color: #7F8C8D  ;
    color: white; 
    
}
#drop{
    background-color: #e9dfc4;
}

p {
    font-size: 30px;
    font-style: italic;
}

span {
    font-size: 20px;
}
.article {
    text-align: justify;
    width: 100%;
}
 @media only screen and (max-width: 600px){
    li {
        display: block;           
    }

    #sidenav a:hover{
        background-color: unset ;
        }
    #sidenav li:hover a{
        color: #7F8C8D ; 
    }

    p{
        font-size: 25px;
    }
    span{
        font-size: 17px;
    }
 }