*{
    padding:0px;
    margin:0px;
    
}
body {
    /* background code start */
    background-image: url('../image/img5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* background-color: #B48278; */
    /* background code end */

    /* Text font */
    font-family: 'Courier New';
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
a:link{
    color:black;
}
a:visited{
    color:black;
}
a:hover{
    /* font-size: larger; */
    color:#b67f75  ;
}